
<h1>MyProperty</h1>
<h2>The modern way to manage your properties</h2>
<div>
  <img class ="intro-img" src="images/background.png"/>
</div>

<form class="myproperty-view-element flex-col" action="/login" method="POST">
  <div class="one-col flex-row">
    <label for="username">Username: </label>
    <input class="flex-item-grow" type="text" name="username">
  </div>
  <div class="one-col flex-row">
    <label for="password">Password: </label>
    <input class="flex-item-grow" type="password" name="password">
  </div>
  <div class="one-col">
    <input type="submit" class="call-button" value="Log In">
  </div>
</form>

<% if (typeof message != "undefined") { %>
  <div class="error-message"><%= message %></div>
<% } %>

<p class="account-message">
  Do you need an account?
  <a class="link" href="/signup">Signup here!</a>
</p>
