<!doctype html>
<html lang="en">

<head>
  <title>MyProperty</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <%if (user) { %>
    <h1>navbar</h1>
  <%} %>
  <%- body%>  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/main.js" type="text/javascript"></script>
</body>

</html>