/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}




/* ---- typography ---- */

body,p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding:0;
  margin:0;
}
input{
  min-width: 5em;
}
label{
  margin-right:1em;
}

a {
  text-decoration: none;
}

/* ---- layout ---- */

.main-wrapper{
  width:100%;
  background-size: cover;
  background-position: center;
  background-color: #0066cc;

}

.content-wrapper{
  margin:4em 1em;
  color:white;
  overflow: hidden;
  min-height: 500px;

}

#site-footer {
  padding:1em;
  text-align: center;
  background-color: white;
  color:#0066cc ;
}


/* ---- components ---- */

/*-- error message --*/
.error-message{
  color:red;
}

/*-- style link elements --*/
.link{
  color:white;
  font-weight: bold;
}

/*--logo --*/
.logo {
  color:#0066cc ;
  font-size: 2em;
  font-family:Helvetica, sans-serif;
}

/*-- button --*/
.call-button{
  background-color: white;
  border-radius: 7px;
  border-color:steelblue;
  border-style: solid;
  padding:0.3em;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}
.call-button a{
  color:#0066cc;
}

.call-button:hover{
  background-color: rgb(230, 162, 73);
}

/*-- flex elements--*/
.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}

.flex-item-grow{
  flex:3 1 auto;
}

.flex-item-auto{
  flex:1 0 auto;
}

.one-col{
  width:100%;
}
.two-col{
  width:45vw;
}

/*-- display --*/
.hide {
  display:none;
}

/*-- Property Boxes--*/
.myproperty-block{
  margin-bottom: 1em;
}

.myproperty-view-header {
  background-color: rgb(118, 134, 146);
  border-radius: 5px;
  padding:0.5em;
}
.myproperty-view-element {
  background-color: steelblue;
  border-radius: 5px;
  padding:1em;
  margin-bottom: 0.5em;
}

.myproperty-view-element p{
 margin-bottom: 0.4em;
}

.myproperty-communication-element {
  background-color: white;
  color:steelblue;
  border-radius: 5px;
  padding:0.5em;
  margin-bottom: 0.2em;
  margin-left:2em;
}




/*- single view components-*/

/*--navbar--*/
.navbar{
  position:fixed;
  top:0;
  width:100%;
  height:3em;
  padding:0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow:hidden;
  background-color:white;
}


.navbar ul li{
  list-style:none;
  display:inline-block;
  margin-right: 20px;
  border-radius:5px;
  color:#0066cc ;
}

.navbar ul li a{
  text-transform: uppercase;
  color:#0066cc ;
}

/*--Canvas --*/

#my-chart{
  background-color: lightblue;
}


/*-- login and signup img --*/
.intro-img {
  width:100%;
}


/*-- google map --*/
#map {
  border: solid 2px steelblue;
  height: 65vw;
  width: 100%;
  margin:0 auto;
}

/*-- edit table --*/
#column-headers, .accounting-row {
  display: flex;
}

#column-headers div, .accounting-row span{
  width: 30%;
}

/*-- prop view --*/
.transaction-table {
  width:100%;
  display:block;
  overflow: auto;
  font-size: calc(0.5em + 0.9vw);
}