/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}




/* ---- typography ---- */

body {}

h1 {}

h2 {}

h3 {}




/* ---- layout ---- */

#site-header {}

#site-footer {}

#site-main {}




/* ---- components ---- */

#column-headers, .accounting-row {
  display: flex;
}

#column-headers div, .accounting-row span{
  width: 30%;
}

#map {
  border: solid 2px red;
  height: 500px;
  width: 500px;
}