
<h2>Create a new property</h2>

<<<<<<< HEAD
<form class="myproperty-view-element" action="/properties/create" method="POST" id="form-container">
=======
<form action="/properties/create" method="POST" id="form-container" enctype="multipart/form-data">
>>>>>>> 9316ca06a53061e2a407cc25c39764910652a5e9
  <label for="propertyname">Property Name</label>
  <input id="propertyname" type="text" name="propertyname" placeholder="new property">

  <p>property location:</p>
  <label for="enterAddress">Address</label>
  <input placeholder="Write and select address among dropdown, enter pressing tab key" name="address" onFocus="startAutocomplete()" id="locality" ><br>

  <label for="streetCreate">Street</label>
  <input id="streetCreate" type="text" name="street" placeholder="your street">

  <label for="streetnrCreate">Number</label>
  <input id="streetnrCreate" type="number" name="streetnr" placeholder="your street number">

  <label for="zipCreate">ZIP Code</label>
  <input id="zipCreate" type="text" name="zip" placeholder="your zip code">

  <label for="cityCreate">City</label>
  <input id="cityCreate" type="text" name="city" placeholder="Barcelona">

  <label for="countryCreate">Country</label>
  <input id="countryCreate" type="text" name="country" placeholder="ES">

  <label>Geolocation</label>
  <input type="text" name="latitude" id="latitude" value="" >
  <input type="text" name="longitude" id="longitude" value="" >

  <input type="text" name="photo_name">
  <input type="file" name="photo">

<!-- To use optionally to store place_id into the Property model
<input type="text" name="place_id" id="location_id" placeholder="Location Ids" value="" ><br> -->

  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>

<<<<<<< HEAD
  <button class="call-button">Submit</button>
=======
  <button type="submit" value="Save">Submit</button>
>>>>>>> 9316ca06a53061e2a407cc25c39764910652a5e9
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAM3SVtttv2pqI2Z9vufnl63sE0eblMRnM&libraries=places"></script>
<script type="text/javascript" src="/javascripts/autocomplete-address.js"></script>